h1 {
    text-align:center;
    font-family: 'Roboto', sans-serif;
    color: #1752DA;
    font-size: 50px;
    background: rgb(12,54,219);
    background: -webkit-linear-gradient(56deg, rgba(255,137,137,1) 0%, rgba(165,199,255,1) 100%, rgba(255,255,255,0) 100%);/*228deg, rgba(12,54,219,1) 0%, rgba(72,143,56,1) 0%, rgba(27,143,140,1) 100%);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

html {
    background-color:rgb(54,57,63);
}